name: Node CI

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  validate-and-publish:
    name: Validate and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@pubrules
        with:
          W3C_API_KEY: ${{ secrets.W3C_API_KEY }} 
          W3C_ECHIDNA_TOKEN: ${{ secrets.ECHIDNA_TOKEN }}
          W3C_WG_DECISION_URL: "https://lists.w3.org/Archives/Public/public-webapps/2014JulSep/0627.html"
          W3C_NOTIFICATIONS_CC: ${{ secrets.CC }}
          VALIDATE_PUBRULES: true
          W3C_BUILD_OVERRIDE: |
            specStatus: WD
